nav {
    font-family: 'Goudy Old Style';
    font-size: 1.4em;
    display: flex; /* left align? */
    justify-content: space-around; /* centered */
    align-items: center;
    min-height: 5vh;
    background: #282c34;
    color: #61dafb;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: #61dafb;
}

