summary {
    background-color: #282c34;
    color:  white;
    font-family: 'Goudy Old Style';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

/* .summary-table {
    align-items: center;
    justify-content: space-around;

} */

.data-list {
    list-style: none;
}